{% extends 'base.html' %}

{% load static %}
{% block content %}

<div>
  <header>
    <div class="center">
      <div class="profile-container">
        <div class="profile-image">
          <img src="/media/{{ profile.avatar }}" alt="profile" />
        </div>
        <div class="profile-user-settings">
          <h1 class="profile-user-name">{{ profile.name }}</h1>
          <button class="btn profile-edit-btn">Settings</button>
          <button class="btn profile-settings-btn" aria-label="profile settings">
            <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/setting.svg" alt="" />
          </button>
        </div>
        <div class="profile-stats">
          <ul>
            <li><span class="profile-stat-count">{{ post }}</span> posts</li>
            <li><span class="profile-stat-count">{{ profile.followers }}</span> followers</li>
            <li><span class="profile-stat-count">{{ profile.follow }}</span> following</li>
          </ul>
        </div>
<!--        <div class="profile-bio">-->
<!--          <p><span class="profile-real-name">comedu</span>hi instagram clone</p>-->
<!--        </div>-->
      </div>
    </div>
  </header>
  <br>
  <br>
  <br>
  {% for i in posts %}
  <br>
  <br>
  <div class="feeds">
    <div class="feed">
      <div class="feed-header">
        <div class="feed-header-content">
          <div class="feed-header-profile-containter">
            <img class="feed-header-profile" src="/media/{{ profile.avatar }}" alt="test profile" />
            <p class="feed-header-username">{{ profile.name }}</p>
          </div>
          <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/more.svg" alt="more icon" />
        </div>
      </div>
      <div class="feed-content-image">
        <div>
          <img class="feed-image" src="{{ i.image.url }}" alt="test image"/>
        </div>
      </div>
      <br>
      <br>
      <br>
      {% endfor %}
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>


{% endblock %}